* {
  box-sizing: border-box;
}

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.welcome {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  border-bottom: 3px solid #fff;
}
.userinfo{
  border: 3px solid #fff;
  border-radius: 10px;
}
p {
  color: white;
  text-align: center;
}

.user-name {
  background-color: black;
}

.btninfo {
  text-align: center;
  margin-left: 50px;
}
.userID {
  text-align: left;
}

.buttons {
  
}
